<p>ID: {{ test_var.id }}</p>

<p>Nombre: {{ test_var.nombre }}</p>

<p>Apellido: {{ test_var.apellido }}</p>

<p>Email: {{ test_var.email }}</p>

<p>Celular: {{ test_var.celular }}</p>

<p>Fecha: {{ test_var.fecha }}</p>

<p>Fecha: {{ test_var.fecha|date("m/d/Y") }}</p>
